body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background-color: #007bff;
    color: rgb(247, 243, 243);
    text-align: center;
    padding: 1.5rem 0;
}
.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(250, 243, 243);
}
.nav-links{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
main{
    padding: 2rem;
    background-color: rgb(164, 218, 231);
}
section{
    margin-bottom: 2rem;
}
hi, h2, h3 {
    color: #007BFF;
}
footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}
